/* font */
.font-fira {
    font-family: "Fira Sans", sans-serif;
    font-style: normal;
}

.fs-f18 {
    font-size: 18px;
}

.fs-f56 {
    font-size: 56px;
}

/* font */

/* color */
.bd-green {
    color: #006A4E;
}


.bd-red {
    color: #DA291C;
}


.text-black {
    color: #0E0E0E;
}

.text-green {
    color: #006A50;
}

.text-gray {
    color: #0E0E0EB3;
}


.b-green {
    border-color: #006A50;
}

.bg-banner {
    background-color: #C6E4D6;
}


/* color */

/* padding */

/* .nav-banner-padding {
    padding: 80px 100px;
} */

.nav-banner-padding {
    padding: 30px 20px;
    /* Mobile first */
}


/* padding */


/* responsive start */
@media (min-width: 768px) {
    .nav-banner-padding {
        padding: 60px 60px;
        /* Tablets */
    }
}

@media (min-width: 992px) {
    .nav-banner-padding {
        padding: 80px 100px;
        /* Large desktops */
    }
}

/* responsive end */